.account {
  width: 50vw;
  display: flex;
  gap: 4vh;
  justify-content: flex-end;
  align-items: center;
  margin-right: 0.2vh;
}
.account a {
  color: black;
  font-weight: 600;
}
.username {
  font-size: 2vh;
  margin: 0;
}
.logout {
  font-size: 5vh;
  cursor: pointer;
}
.logout:hover {
  cursor: pointer;
}
.userIcon {
  font-size: 3vh;
}
