.checkbox {
  background-color: #e1e5eb;
  padding: 12px 8px;
  border-radius: 6px;
  width: 49%;
}
.answer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 70px;
}
