.input {
  padding: 6px 24px 6px 8px;
  min-width: 330px;
  max-width: 100%;
  max-height: 40px;
  outline: none;
  border: none;
  border-radius: 8px;
  color: gray;
  font-size: 14px;
  font-weight: 500;
}
.input::placeholder {
  text-transform: capitalize;
}
.parent {
  position: relative;
  width: 100%;
}
.icons {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}
