.progressBar {
  min-width: 80vw;
  min-height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
  /* position: relative; */
  border-radius: 10px;
}
.progress {
  position: relative;
  width: 65vw;
  height: 2px;
  background-color: rgb(209, 206, 206);
  border-radius: 10px;
}
.progressChild {
  position: absolute;
  content: "";
  width: 25%;
  height: 4px;
  background-color: black;
  z-index: 99;
}
.progressCircle {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: black;
  z-index: 999;
  bottom: 50%;
  transform: translateY(50%);
  /* cursor: pointer; */
  border-radius: 50%;
}
.icons {
  position: relative;
  top: 50%;
  transform: translateY(-100%);
  cursor: pointer;
}
.button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  font-size: 10px !important;
}
.parenButton {
  position: relative;
}
.play {
  position: absolute;
  cursor: pointer;
  right: -52px;
  bottom: 50px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #011623;
  border-radius: 50%;
}
.playIcon {
  background-color: #00d967;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5px;
}
.percent {
  position: absolute;
  bottom: 40px;
  right: 50%;
  transform: translateX(50%);
  background: black;
  color: #fff;
  padding: 4px 16px;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 600;
}
.youtubePlayer {
  bottom: 60px;
  right: -15px;
  padding: 4px;
  background-color: white;
}
.closePlayer {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  padding: 3px 6px;
  border-radius: 4px;
}
.playerTitle {
  font-size: 12px;
  margin: 0 4px;
  cursor: text;
}
