.signup {
  width: 90vw;
  margin: 0 auto;
}
.signup h1 {
  margin-bottom: 2vh;
  font-size: 3vh;
  /* font-size: 10vw; */
}
.column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vw;
  align-items: center;
  width: 100%;
}
.signup p {
  text-align: center;
}
