.parentVideo {
  width: 96vw;
  margin: 0 auto;
}
.videos {
  margin: 0 auto;
  padding: 0 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5vh;
  align-items: center;
}

.video {
  min-width: 360px;
  max-width: 400px;
  /* max-height: 40vh; */
  min-height: 320px;
  max-height: 350px;
  padding: 4px 4px 4px 4px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  cursor: pointer;
}
.video img {
  width: 100%;
  object-fit: cover;
}
.video .title {
  font-weight: 700;
}
.video p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vh;
  margin: 2px;
}

.video:hover {
  box-shadow: 0 0 15px 0 #e5e5e5;
}
.title {
  margin-left: 26px;
}
.video .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90px;
}
